/* header */
.site-header {
    overflow: hidden;
    border-bottom: 2px solid #000000;
    top: 0;
    background-color: white;
    position: sticky;
}

.site-header li a {
    margin: 1em;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.site-header li a:hover{
    text-decoration: underline;
    color: #2a7ae2;
}

.site-header ul {
    list-style-type: none;
    display: flex;
    float: right;
    padding-top: 1em;
    margin-right: 2em;
}

.site-title {
    font-size: 20pt;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    text-align: center;
    display: flex;
    float: left;
    padding-left: 2em;
}

/* skip to main content button */
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    padding: 8px;
    z-index: 100;
    background: white;
    transition: top 0.3s;
}

.skip-link:focus {
    top: 0;
}


/* link styling */
a {
    color: #2a7ae2;
}

a:hover {
    color: #000000;
}

/* 404 page */
.fourfour {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
}
.fourfour h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
}

/* body */ 
* {
    box-sizing: inherit;
}

html {
    font-family: "Helvetica", "Arial", sans-serif;
}

body {
    margin: 0px;
}

.wrapper {
    position: relative;
    min-height: 94vh;
}

.page-content {
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 0px;
	padding-bottom: 3rem;
}

.link-container {
	/*position: relative;*/
	width: 100%;
	max-width: 37.5rem;
	text-align: center;
	margin: 0 auto;
	/*padding: 3rem 1.25rem 0 1.25rem;*/
	/* box-sizing: border-box; */
}

/* footer */
.site-footer {
    border-top: 2px solid #000000;
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.footer-col-wrapper {
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
}

.footer-col {
    padding: 15px;
}

.footer-col-1 {
    text-align: left;
}

.footer-col-2 {
    text-align: right;
}

