{{ define "main" }}

<div class="link-container">

	<h1>
		<div>My Links</div>
	</h1>

	<p>Find me on other places around the web!</p>

	<!-- All your buttons go here -->

	<!-- GitHub -->
	<a class="button button-github" href="https://github.com/oakleafknight06" role="button"><img class="button-icon" aria-hidden="true" src="{{ "images/icons/github.svg" | absURL }}" alt="GitHub Logo">Check out my GitHub</a>
			
	<!-- LinkedIn -->
	<a class="button button-linked" href="https://www.linkedin.com/in/darinfagg" role="button"><img class="button-icon" aria-hidden="true" src="{{ "images/icons/linkedin.svg" | absURL }}" alt="LinkedIn Logo"> Find me on LinkedIn</a>

	<!-- Ko-fi -->
	<a class="button button-ko-fi" href="#" role="button"><img class="button-icon" aria-hidden="true" src="{{ "images/icons/ko-fi.svg" | absURL }}" alt="Ko-fi Logo">Tip me on Ko-fi</a>
			
	<!-- Generic Email -->
	<a class="button button-default" href="#" role="button"><img class="button-icon" aria-hidden="true" src="{{ "images/icons/generic-email.svg" | absURL }}" alt="Email Icon">Email Me</a>

	<div>
		Built with <a href="https://littlelink.io">LittleLink</a>, an open source Linktree alternative.
	</div>

</div>

{{ end }}
